@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e9cfa8;
    font-family: "Tektur", sans-serif;
    margin: 5%;
    line-height: 1.9;
}
main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(28,123,54,0,1);
}
header{
    text-align: center;
    color: rgb(0, 255, 255);
    padding: 20px 0;
    border-radius: 8px 8px 0 0 ;
    background-image:url(./img/nubes.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}
header figure img{
    border-radius: 50%;
    border: 5px solid #d4ad59;
    box-shadow: 0px 0px 10px;
    object-fit:  cover;
}

header h1{
    font-size: 2em;
    margin-top: 10px;

}
header h2{
    font-size: 1.2em;
    opacity: 0.7;
}

.container{
    background-color: #ddce8b;
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;

}

.contenedor_foto_perfil{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border:10px solid #d4ad59;
    margin: 5%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0,5);
    object-fit:  cover;
}

.contenedor_foto_perfil img{
    width: 100%;
    height: auto;
    display: block;
    object-fit:  cover;
}
img{
    object-fit: cover;
}

.cabecera{
    position: relative;
}

.nombre_puesto{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    text-shadow: 0px 0px 20px rgba(0,0,0,0,5);
}

h3{
    font-size: 1.4em;
    margin-top: 20px;
    color rgba(14,16,16,0.1);
}

section{
    background-color: rgb(223, 193, 112);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
section hr{
    border:0;
    height: 2px;
    background: #1835db;
    margin: 10px 0;
}

h3{
    font-size: 1.4em;
    margin-top: 20px;
    color: rgb(0, 255, 255);
}

ul{
    list-style-type: none;
}

ul li{
    padding: 5px 0;
}

i{
    color: #707070;
    margin-right: 9px;
}

address p{
    margin: 5px 0;
}

address a{
    color:#fffefb;
    text-decoration: none;
}



